.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 40px;
}
.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.check-answers {
  padding: 16px 24px;
  width: 200px;
  border: none;
  border-radius: 8px;
  background-color: #7f8bc7;
  color: rgb(237, 237, 237);
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  cursor: pointer;
  font-size: 18px;
  overflow: hidden;
}
.quiz-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.quiz-result {
  font-size: 24px;
  font-weight: 500;
}
.quiz-result span {
  color: red;
}
@media (max-width: 700px){
  .quiz-result {
    text-align: center;
  } 
  .quiz-results{
    flex-direction: column-reverse;
  }
}


