.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;

  width: 100%;
  min-height: 100vh;
}

.hero h2 {
  font-size: 50px;
  font-weight: 500;
}
.hero h4 {
  font-size: 30px;
  font-weight: 300;
  width: 50%;
}
.hero button {
  border: none;
  height: 50px;
  width: 150px;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 8px;

  background-color: #ffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.hero button:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

@media (max-width: 700px) {
  .hero h4 {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
  }
}
